<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceIP" value=""/>
    <add key="DestinationIP" value=""/>
    <add key="SourceDirectory" value=""/>
    <add key="DestinationDirectory" value=""/>
    <add key="SourceFile" value=""/>
    <add key="DestinationFile" value=""/>
    <add key="SourceUser" value=""/>
    <add key="SourcePassword" value=""/>
    <add key="DestinationUser" value=""/>
    <add key="DestinationPassword" value=""/>
 </appSettings>
</configuration>